<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.horsey">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Horsey"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name=".Activity.ChoiceActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Activity.ThirdActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".OpenScreen"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OpenScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OpenScreen"/>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.OpenScreen"/>

        <service
            android:name=".BgmService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".PCDISentencesMainActivity2"
            android:exported="false" />
        <activity
            android:name=".PCDISentencesStartActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PCDIGestureMainActivity2"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PCDIGestureStartActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MChartMainActivity2"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MChartStartActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CARSMainActivity2"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CARSStartActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CABSMainActivity2"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CABSStartActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABCMainActivity2"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ABCStartActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TableChooseActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChooseActivity4"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity3"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity2"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".TableMeasure"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".IndexActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name=".Activity.YuyiChoiceActivity"/>
        <activity android:name=".Activity.YuyiActivity"/>
    </application>

</manifest>